* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ecc8af;
  font-family: "Cormorant", serif;
  overflow-x: hidden;
}

#logo {
  color: white;
  font-family: "Cormorant", serif;
}

.nav-header {
  min-height: 10vh;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem 0rem;
  z-index: 2;
  position: relative;
}

.line1,
.line2,
.line3 {
  height: 0.2rem;
  width: 2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
  z-index: 2;
}

.slide {
  min-height: 90vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ecc8af;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2rem;
  flex: 1;
  flex-basis: 25rem;
  position: relative;
}

.hero-img {
  flex: 1;
  flex-basis: 25rem;
  position: relative;
}

.hero-img img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 7%;
}

.name-span,
.second-span,
.third-span {
  color: #ce796b;
}

.hero-desc h2 {
  font-size: 5rem;
}

.hero-desc p {
  font-size: 1.8rem;
  padding: 1rem 0rem;
}

.first-exp,
.second-exp,
.third-exp {
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid black;
  border-radius: 7%;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  background: #495867;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

#cap {
  width: 3rem;
  height: 1rem;
  object-fit: cover;
  object-position: 0% 10%;
}

#can {
  width: 3rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: 0% 80%;
}

.nav-links {
  flex-basis: 20rem;
  font-size: 3.5rem;
}

.nav-links h3 {
  padding: 0.7rem 1.5rem;
}
.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 2.5rem;
  padding: 1rem 0rem;
}

.resume {
  font-size: 2.3rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  top: 0;
  left: 0;
  background: #ecc8af;
  width: 100%;
  height: 100%;
}

body.hide {
  overflow: hidden;
}
